.side-form {
    /* スクロールした時についてくる設定 */
    position: sticky;
    top: 64px;
}

#main_container {
    /* nav-barぶん下にずらす設定 */
    margin-top:64px;
}

footer.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-size: 7px;
}
