#main_container {
    /* nav-barぶん下にずらす設定 */
    margin-top:64px;
    /* footer */
    margin-bottom: 10px;
}

footer.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-size: 7px;
}

.dropdown-menu {
    max-height: 50vh;
    overflow-y: auto;
}

@media (max-width:768px) {
    .dropdown-menu {
        max-width: 90vw;
        overflow-x: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
