#main_container {
    /* モバイル */
    /* nav-barぶん下にずらす設定 */
    margin-top:100px;
}

footer.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-size: 7px;
}

@media (min-width: 768px) {
  /* md 以上の画面 */
  #main_container {
    /* nav-barぶん下にずらす設定 */
    margin-top:64px;
  }
}