  h1 {
    font-size: 2em;
    border-bottom:4px solid purple;
    font-weight: normal;
    margin: 0;
    /*left: 50%;*/
    margin-left: -10%;
    /*the size of jpeg is 80% of the size of the screen*/
  }

  .message_str {
    font-size: 1em;
  }

  html{
    height:100%;
  }

  body{
    display: flex;
    height: 100%;
    margin: 0;
    font-family: serif;
    /* text-align: center; */
  }

  #left, #right{
    display: inline-block;
    height: 100%;
  }

  #left{
    width:15%;
    background-color:rgb(119, 0, 128);
  }

  #right{
    display: flex;
    /* max-width: 85%; */
  }

  #left_top{
    height: 20%;
    background-color: rgb(214, 88, 223);
    position: relative;
    object-fit: cover;
    text-align: center;
  }

  #logo_locate{
    display: inline-block;
    font-size: 3em;
    color: white;
    position: absolute;
    top:50%;
    text-align: center	
  }

  .username{
    font-size: 50%;
    margin: 0;
  }

  .content{
    font-size: 120%;
    margin: 0;
    overflow-wrap: break-word;
    margin-right: 5%;
  }

  #form, #log_list{
    display:inline-block;
  }
  /*added*/

  .row-5 {
    height: calc( 1.3em * 10 );
    line-height: 1.3;
  }