  h1 {
    font-size: 2em;
    /* border-bottom:4px solid purple; */
    font-weight: normal;
    margin: 0;
    /*left: 50%;*/
    margin-left: 0%;
    /*the size of jpeg is 80% of the size of the screen*/
  }

  .message_str {
    font-size: 1em;
  }

  html{
    height:100%;
  }

  body{
    display: flex;
    height: 100%;
    margin: 0;
    font-family: serif;
    /* text-align: center; */
  }

  #left, #right{
    display: inline-block;
    height: 100%;
  }

  #left{
    /* position: fixed; */
    width:15%;
    background-color:rgb(119, 0, 128);
  }

  #right{
    display: flex;
    max-width: 85%;
    justify-content: center;  /*中央寄せ*/
  }

  #left_top{
    height: 20%;
    background-color: rgb(214, 88, 223);
    position: relative;
    object-fit: cover;
    text-align: center;
  }

  #logo_locate{
    display: inline-block;
    font-size: 3em;
    color: white;
    position: absolute;
    top:50%;
    text-align: center	
  }

  .username{
    font-size: 50%;
    margin: 0;
    font-weight: bold;
  }

  .content{
    font-size: 120%;
    margin-left: 5%;
    overflow-wrap: break-word;
    margin-right: 5%;
  }

  #form, #log_list{
    display:inline-block;
    width:50%;
  }



  #log_list{
    overflow: scroll;
    /* border: blue 5px solid; */
  }

  .row-5 {
    /* height: calc( 1.3em * 35 );
    line-eightX;
    transform: translateX(-50%);
    width: 80%; */
    height: calc( 1.3em * 35 );
    line-height: 1.3;
    width: 80%;
    transform: translateX(8%);
    /* center */
  }

  #input_name:focus, #input_message:focus{
    outline: 0;
    box-shadow: 0 0 0 1px rgb(33, 150, 243) inset;
  } 

  .side_msg_1 {
  color: white;
  display: block;
  background-color: palevioletred;
  margin: 0;
  }

  .side_msg_2 {
  color: white;
  display: block;
  background-color: plum;
  text-align: center;
  margin:0;
    }

  .submit_button {
  text-align: center;
  box-sizing: border-box;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  background: #447fff;
  color: #000;
  font-weight: bold;
  padding: 13px 10px 10px;
  border-radius: 5px;
  border-bottom: 5px solid rgba(0,0,0,0.3);
  }

  #thread_title{
    text-align: center;
  }

  .submit_button:active{
    background: #69821b; 
  }

  .btn1 {
    background: #447fff;
  }

  .btn2 {
    background: bisque;
  }

  #input_message {
    border-radius:10px;
    box-shadow: none;
    padding: 2px 8px;
  }

  .emergency{
    /* background-color: rgb(184, 4, 1); */
    color: black;
    margin-left: 0.5%;
    border-bottom: red 5px solid;
    /* background: linear-gradient(transparent 50%, rgb(184, 4, 1) 50%); */
  }

  .zikkuri{
    /* background-color: rgb(0, 125, 0); */
    color: black;
    margin-left: 0.5%;
    border-bottom: green 2px solid;
  }

  .tasukatta{
    /* background-color: rgb(0, 0, 173); */
    color: black;
    margin-left: 0.5%;
    border-bottom: 2px solid blue;
  }

  .teian{
    /* background-color:rgb(188, 175, 0); */
    color: black;
    margin-left: 0.5%;
    border-bottom: 2px solid yellow;
  }

  .yoshiyoshi{
    /* background-color: rgb(222, 164, 174); */
    color: black;
    margin-left: 0.5%;
    border-bottom: 2px solid pink;
  }

  .daijoubu{
    /* background-color:burlywood; */
    color: black;
    margin-left: 0.5%;
    border-bottom: 2px solid brown;
  }
  
  .em_view {
    font-size: 2em;
    text-align: center;
    background-color: red;
    color: yellow;
  }

  .em_count{
    font-size: 150%;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: white;
  }

  a:visited{
    color: white;
  }

  a:hover{
    color:rgba(243, 191, 20, 0.978);
    text-decoration: underline;
  }

  .now_url{
    background-color: #447fff;
  }

  #left_scroll{
    overflow: scroll;
    width:100%;
    height: 50%;
    display: block;
  }

  .side_url{
    padding: 5% 0% 5% 5%;
    margin: 0;
  }