  h1 {
    font-size: 2em;
    /* border-bottom:4px solid purple; */
    font-weight: normal;
    margin: 0;
    /*left: 50%;*/
    margin-left: -10%;
    /*the size of jpeg is 80% of the size of the screen*/
  }

  .message_str {
    font-size: 1em;
  }

  html{
    height:100%;
  }

  body{
    display: flex;
    height: 100%;
    margin: 0;
    font-family: serif;
    /* text-align: center; */
  }

  #left, #right{
    display: inline-block;
    height: 100%;
  }

  #left{
    /* position: fixed; */
    width:15%;
    background-color:rgb(119, 0, 128);
  }

  #right{
    display: flex;
    max-width: 85%;
  }

  #left_top{
    height: 20%;
    background-color: rgb(214, 88, 223);
    position: relative;
    object-fit: cover;
    text-align: center;
  }

  #logo_locate{
    display: inline-block;
    font-size: 3em;
    color: white;
    position: absolute;
    top:50%;
    text-align: center	
  }

  .username{
    font-size: 50%;
    margin: 0;
  }

  .content{
    font-size: 120%;
    margin-left: 5%;
    overflow-wrap: break-word;
    margin-right: 5%;
  }

  #form, #log_list{
    display:inline-block;
    width:50%;
  }

  #form, #log_list{
    display:inline-block;
    width:50%;
  }
  /*added*/

  #log_list{
    overflow: scroll;
    /* border: blue 5px solid; */
  }

  .row-5 {
    height: calc( 1.3em * 35 );
    line-height: 1.3;
    width: 80%;
  }

  #input_name:focus, #input_message:focus{
    outline: 0;
    box-shadow: 0 0 0 1px rgb(33, 150, 243) inset;
  }

  /* #form{
    position: fixed;
    left:
  }

  #log_list{
    position: absolute;
  } */


  .side_msg_1 {
  color: white;
display: block;
background-color: palevioletred;
  }

  .side_msg_2 {
    color: white;
  display: block;
  background-color: plum;
  text-align: center;
    }

  .submit_button {
  text-align: center;
  box-sizing: border-box;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  background: #447fff;
  color: #fff;
  font-weight: bold;
  padding: 13px 10px 10px;
  border-radius: 5px;
  border-bottom: 5px solid rgba(0,0,0,0.3);
  }
  .submit_button:hover {
    letter-spacing: 5px;
  }
  .submit_button:active{
    background: #69821b; /* 濃い緑色 */
  }
