{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Chat</title>
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <script src = "{% static 'board/script.js' %}"></script>
</head>
<body>
    <div id="left">
        <div id="left_top">
            <h1><img src="{% static 'board/enpitA+.png' %}" width="90" height="90" alt="art"></h1>
        </div>
        <div id="left_rest">

        </div>
    </div>
    <div id="right">
    <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
    ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
        
        <div id="log_list">
            <ul id="list_message"></ul>
            {% for post in post_data %}
            <div>
                <hr>
                <p class="username">名前：  {{ post.sender_name }}</p>
                <p class="content">{{ post.text | linebreaksbr}}</p>
            </div>
            {% endfor %}
        </div>

        <div id="form">
            <form action="/" method="POST">
                {% csrf_token %} 
                Name : <input type="text" id="input_name" autocomplete="off" value="名無し" readonly="readonly" name="username" autofocus />
                <br>
                <textarea class="row-5" type="text" id="input_message" autocomplete="off" name="message" autofocus></textarea> 
                <input type="submit" src="{% static 'board/logo.jpeg' %}" class="submit_button" id="submit_message" value="投稿する" />
            </form>
        </div>
    </div>
</body>
</html>