{% load static %}
<!doctype html>
<html lang="ja">

<head>
  {% include 'html_head.html' %}
  <link rel="stylesheet" href="{% static 'board/search.css' %}">
</head>

<body class="bg-light">
  {% include 'header.html' %}

  <div id="main_container" class="container-fluid">
    <div id="search_app">
    <div class="row">
        <div class="col-12"> 
          <div class="text-center img-hidden" style="margin-bottom: 15px;">
            <img src="{% static 'board/enpitA+about.png' %}" alt="img" class="mx-auto d-block logo-img"
            >
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </span>
              <child-component v-on:childevent="searchMethod"></child-component>
          </div>
              <div class="text-center" style="margin-bottom: 15px; margin-top: 15px;">
                履修している講義スレッドに参加して、
                <br class="sma">
                協力してA+を目指そう！
              </div>
        </div> 
    </div>
    
    <template v-if="query.length !== 0">
    <div class="row">
      <div class="col">
        <table class="table zebra-striping">
          <thead>
            <tr>
              <th scope="col" class="none-md">#</th>
              <th scope="col" >科目名</th>
              <th scope="col">教員</th>
              <th scope="col" class="none-md">種類</th>
              <th scope="col" class="none-md">学群</th>
              <th scope="col" class="none-md">学類</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="sub in results">
              <th class="none-md">[[sub.code]]</th>
              <td><a :href="'/threads/' + sub.thread_id + '/'">[[sub.name]]</a></td>
              <td>[[sub.teachers]]</td>
              <td class="none-md">[[sub.subtype]]</td>
              <td class="none-md">[[sub.schools]]</td>
              <td class="none-md">[[sub.colleges]]</td>
        </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div v-if="results.length !== 0" class="col">
        <template v-if="results.length === 500">
        上位500件のみ表示しています。
        </template>
      </div>
      <div v-else class="col">
        「[[ query ]]」を含む講義は見つかりませんでした。
      </div>
    </div>
    </div>
  </template>
  <template v-else>
    <div class="container" style="margin-top: 30px;">
      
      <div class="row">

        
        <div class="card-group">
          <div class="card">
            <img src="{% static 'board/about_image1.jpeg' %}" class="card-img-top" alt="newthreads">
            <div class="card-body">
              <h5 class="card-title">新しい質問が投げられたスレッド一覧🤗</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'board/about_image2.jpeg' %}" class="card-img-top" alt="ranking">
            <div class="card-body">
              <h5 class="card-title">非常事態のスレッドランキング🔥</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'board/about_image3.jpeg' %}" class="card-img-top" alt="link">
            <div class="card-body">
              <h5 class="card-title">リンク集🔗</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </template>
    {% include 'footer.html' %}
  </div>

  {% include 'load_javascript.html' %}
    <script src = "{% static 'board/search.js' %}"></script>
</body>

</html>