{% load static %}
<!doctype html>
<html lang="ja">

<head>
    {% include 'html_head.html' %}
    <title>利用規約 | A+つくば</title>
    <meta property="og:title" content="利用規約 | A+つくば" />
    <meta property="og:type" content="artcle" />
</head>

<body class="bg-light">
    {% include 'header.html' %}

    <div id="main_container" class="container">

        <h1>利用規約</h1>
        <p>この利用規約（以下，「本規約」といいます。）は，「A+つくば運営チーム（チーム: 半分，青い。）」（以下，「運営チーム」といいます。）
            がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。本サイトを利用できる筑波大生の皆さま
            （以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
        </p>

        <h2>第1条（適用）</h2>
        <ol>
            <li>本サービスを利用できるユーザーは筑波大生，または運営チームが特別に
                許可したものに限ります。</li>
            <li>本サービスの利用は日本国内に限ります。</li>
            <li>本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる
                一切の関係に適用されるものとします。</li>
            <li>運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール・プライバシーポリシー等，各種の定め（以下，「個別規定」といいます。）
                をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</li>
            <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
        </ol>

        <h2>第2条（禁止事項）</h2>
        ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。
        <ol>
            <li> 法令または公序良俗に違反する行為</li>
            <li> 犯罪行為に関連する行為</li>
            <li> 運営チーム，本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
            <li> 運営チームのサービスの運営を妨害するおそれのある行為</li>
            <li> 他のユーザーに関する個人情報等を収集または蓄積する行為</li>
            <li> 不正アクセスをし，またはこれを試みる行為</li>
            <li> 他のユーザーに成りすます行為</li>
            <li> 運営チームのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
            <li> 運営チーム，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
            <li> 以下の表現を含み，または含むと運営チームが判断する内容を本サービス上に投稿し，または送信する行為
                <ol>
                    <li> 過度に暴力的な表現</li>
                    <li> 露骨な性的表現</li>
                    <li> 人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</li>
                    <li> 自殺，自傷行為，薬物乱用を誘引または助長する表現</li>
                    <li> その他反社会的な内容を含み他人に不快感を与える表現</li>
                    <li> 以下を目的とし，または目的とすると運営チームが判断する行為</li>
                    <ol>
                        <li> 営業，宣伝，広告，勧誘，その他営利を目的とする行為（運営チームの認めたものを除きます。）</li>
                        <li> 性行為やわいせつな行為を目的とする行為</li>
                        <li> 面識のない異性との出会いや交際を目的とする行為</li>
                        <li> 他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</li>
                        <li> 運営チーム，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為</li>
                        <li> その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
                        <li> 宗教活動または宗教団体への勧誘行為</li>
                        <li> その他，運営チームが不適切と判断する行為</li>
                    </ol>
                </ol>
            </li>
        </ol>

        <h2>第3条（本サービスの提供の停止等）</h2>
        <ol>
            <li>運営チームは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を
                停止または中断することができるものとします。
                <ol>
                    <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                    <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
                    <li>コンピュータまたは通信回線等が事故により停止した場合</li>
                    <li>その他，運営チームが本サービスの提供が困難と判断した場合</li>
                </ol>
            </li>
            <li>運営チームは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</li>
        </ol>

        <h2>第4条（著作権）</h2>
        <ol>
            <li>ユーザーは，自ら著作権等の必要な知的財産権を有するか，または必要な権利者の許諾を得た文章，画像や映像等の情報に関してのみ，本サービスを利用し，投稿ないしアップロードすることができるものとします。</li>
            <li>ユーザーが本サービスを利用して投稿ないしアップロードした文章，画像，映像等の著作権については，運営チームに帰属するものとします。運営チームは，本サービスを利用して投稿ないしアップロードされた文章，画像，映像等について，ユーザーの許可なく自由に利用できるものとし，ユーザーは，この利用に関して，著作者人格権を行使しないものとします。
            </li>
            <li>前項本文の定めるものを除き，本サービスおよび本サービスに関連する一切の情報についての著作権およびその他の知的財産権はすべて運営チームまたは運営チームにその利用を許諾した権利者に帰属し，ユーザーは無断で複製，譲渡，貸与，翻訳，改変，転載，公衆送信（送信可能化を含みます。），伝送，配布，出版，営業使用等をしてはならないものとします。
            </li>
        </ol>

        <h2>第5条（利用制限および運営による投稿削除）</h2>
        <ol>
            <li>運営チームは，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，投稿データを削除し，ユーザーに対して本サービスの全部もしくは一部の利用を制限することがあります。
                <ol>
                    <li>本規約のいずれかの条項に違反した場合</li>
                    <li>その他，運営チームが本サービスの利用を適当でないと判断した場合</li>
                </ol>
            </li>
            <li>運営チームは，本条に基づき運営チームが行った行為によりユーザーに生じた損害について，一切の責任を負いません。</li>
        </ol>

        <h2>第6条（第三者の依頼による投稿削除）</h2>
        <p>
            本サービスの投稿データの削除・改変を希望する者は，運営チームにその旨を申し出ることができます。 運営チームは以下の場合に限りその申し出に従い，ユーザーの投稿を削除・改変します
        <ol>
            <li>当該の投稿データが本規約に違反している場合</li>
            <li>申し出の内容が運営チームによって合理的と判断される場合</li>
            <li>裁判所命令等の法令に基づく場合</li>
        </ol>
        また，ユーザーは本規約の定めに従い，投稿が削除された場合にいかなる異議申し立ても行うことができないものとします。
        </p>

        <h2>第7条（保証の否認および免責事項）</h2>
        <ol>
            <li>運営チームは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）
                がないことを明示的にも黙示的にも保証しておりません。</li>
            <li>運営チームは，本サービスに起因してユーザーに生じたあらゆる損害について，一切の責任を負いません。</li>
            <li>運営チームは，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
        </ol>

        <h2>第8条（サービス内容の変更等）</h2>
        <p>運営チームは，ユーザーへの事前の告知なしに，本サービスの内容を変更，追加または廃止することがあり，ユーザーはこれを承諾するものとします。</p>

        <h2>第9条（利用規約の変更）</h2>
        <ol>
            <li>運営チームは，ユーザーの個別の同意を要せず，本規約を変更することができるものとします。</li>
            <li>運営チームはユーザーに対し，前項による本規約の変更にあたり，事前に，本規約を変更する
                旨及び変更後の本規約の内容並びにその効力発生時期を通知します。</li>
        </ol>

        <h2>第10条（個人情報の取扱い）</h2>
        <p>運営チームは，本サービスの利用によって取得する個人情報については，
            運営チーム「<a href="/privacy/">プライバシーポリシー</a>」に従い適切に取り扱うものとします。</p>

        <h2>第11条（通知または連絡）</h2>
        <p>
            ユーザーと運営チームとの間の通知または連絡は，運営チームの定める方法によって行うものとします。運営チームは,ユーザーから,
            運営チームが別途定める方式に従った変更届け出がない限り,現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い,これらは,発信時にユーザーへ到達したものとみなします。
        </p>

        <h2>第12条（権利義務の譲渡の禁止）</h2>
        <p>ユーザーは，運営チームの書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>

        <h2>第13条（準拠法・裁判管轄）</h2>
        <ol>
            <li>本規約の解釈にあたっては，日本法を準拠法とします。</li>
            <li>本サービスに関して紛争が生じた場合には，茨城県つくば市を管轄する裁判所を専属的合意管轄とします。</li>
        </ol>

        <h2>お問い合わせ窓口</h2>
        <p>本規約に関するお問い合わせは，下記の窓口までお願いいたします。<br><br>
            A+つくば運営チーム（チーム: 半分，青い。）<br>
            Eメールアドレス：<a href="mailto:info@aplus-tsukuba.net">info@aplus-tsukuba.net</a><br>
            （受信専用アドレスのため，担当者のメールアドレスより返信させていただきます。）<br><br>
            以上
        </p>

        {% include 'footer.html' %}
    </div>

    {% include 'load_javascript.html' %}
</body>