<div class="col-md-7 bg-light">
        <h2>{{ thread_title }}



          <!-- added -->
          <div id="bookmark_toggle">
          <sapn class="checkbox">
            <div style="display: inline-block" class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" v-on:click="judge_checked()" v-model="checked">
              <label class="form-check-label" for="flexSwitchCheckDefault">ブックマーク</label>
            </div>
          </span>
        </div>



        </h2>
        

            <div id="post_content" class="content">
              <div v-for="msg in message.data" :key="msg.post_id" class="mb-4">
                <div class="post_box">
                <h6>[[ msg.sender_name ]] <span :class="getCSS(msg.emotion)">[[ getText(msg.emotion) ]]</span>
                  <span class="ms-3 text-gray-800">
                  <small><small>
                    投稿日: [[ formatTimeString(msg.created_at) ]]
                  </small></small>
                </span>
                </h6>
                <p class="lead">
                  <span style="white-space: pre-wrap;" v-text="msg.text"></span>
                </p>
                  <button class="btn" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" 
                  v-on:click="judge_thread(msg.post_id)">
                  <span class="text-primary">コメントする</span>
                </button>
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse"
                :data-bs-target="'#a' + msg.post_id" aria-expanded="false" aria-controls="collapseExample"
                v-on:click="child_threads(msg.post_id)">
                <span class="text-primary">コメントを表示する</span>
              </button>
                  </div>
                <div class="collapse" :id="'a' + msg.post_id">
                  <!-- <div class="card card-body bg-light border-light"> -->

                    <div class="rows">
                      <div class="cols">
                        <div v-for="reply in child_message[msg.post_id]" :key="reply.reply_id">
                          <div class="post_box reply_box">
                          <p class="username">[[ reply.sender_name ]]
                  
                            <span :class="getCSS(reply.emotion)">[[
                              getText(reply.emotion)
                              ]]</span>
                              <span class="ms-3 text-gray-800">
                              <small><small>
                                投稿日: [[ formatTimeString(reply.created_at) ]]
                              </small></small>
                              </span>
                            </p>
                          <p class="lead">
                            <span style="white-space: pre-wrap;" v-text="reply.text"></span>
                          </p>
                          <button class="btn" type="button" data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" 
                          v-on:click="judge_thread(msg.post_id)">
                          <span class="text-primary">コメントする</span>
                        </button>
                        </div>
                        </div>

                  
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
      </div>